<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Qiita Search</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div id="app" class="container mt-5">
        <h1>Qiita 記事検索</h1>
        
        <div class="input-group mb-3">
            <input type="text" class="form-control" v-model="keyword" placeholder="キーワードを入力（例: Vue）">
            <div class="input-group-append">
                <button class="btn btn-primary" v-on:click="search">検索</button>
            </div>
        </div>

        <div v-if="message" class="alert alert-info">
            {{ message }}
        </div>

        <div class="list-group">
            <a v-for="item in items" v-bind:href="item.url" target="_blank" class="list-group-item list-group-item-action">
                <h5 class="mb-1">{{ item.title }}</h5>
                <small>@{{ item.user.id }} / いいね数: {{ item.likes_count }}</small>
            </a>
        </div>
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    keyword: 'Vue.js',
                    items: [],   // 取得した記事データを入れる箱
                    message: ''  // 検索中のメッセージなど
                }
            },
            methods: {
                search() {
                    this.message = '検索中...';
                    this.items = []; // リストを一旦空にする
                    
                    // Axiosを使ってQiitaのAPIにアクセス
                    axios.get('https://qiita.com/api/v2/items', {
                        params: {
                            query: this.keyword,
                            per_page: 10 // 10件取得
                        }
                    })
                    .then((response) => {
                        // 成功したらここを通る
                        this.items = response.data;
                        this.message = '';
                    })
                    .catch((error) => {
                        // 失敗したらここを通る
                        this.message = 'エラーが発生しました: ' + error;
                    });
                }
            }
        });
        app.mount('#app');
    </script>
</body>
</html>